{% extends 'DTutoBundle::layout.html.twig' %}

{% block title %}
  Tutorial
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
  <div class="text-center col-xs-12">
    <h1>index tutorials!</h1>
    <ul class="list-unstyled">
      {% for category in categories %}
        <li>
          <h2>{{ category.title }}:</h2>
          {% for tutorial in category.tutorials if tutorial.validContribution %}
            {{ dump(tutorial) }}
              {% for contrib in tutorial.contributions %}
                {{ dump(contrib) }}
              {% endfor %}
          {% else %}
             <a href="{{ path('discutea_tuto_create_tutorial', {'id': category.id}) }}" class="btn btn-sm btn-success">{{ 'discutea.tuto.tuto.create'|trans }}</a>
         {% endfor %}
        </li>
      {% else %}
        <li><a href="{{ path('discutea_tuto_create_category') }}" class="btn btn-sm btn-success"> {{ 'discutea.tuto.category.btnnew'|trans }} </a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
