{% extends 'DTutoBundle::layout.html.twig' %}

{% block title %}Index tutorials{% endblock %}

{% block body %}
  <h1>index tutorials!</h1>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    {% for category in categories %}
      <li{% if categories|first == category %} class="active"{% endif %}>
        <a href="#{{ category.id }}" aria-controls="{{ category.id }}" data-toggle="tab">{{ category.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% for category in categories %}
    <div class="tab-pane{% if categories|first == category %} active{% endif %}" id="{{ category.id }}">
      {% for tutorial in category.tutorials if is_granted('CanReadTutorial', tutorial) %}
          <h2><a href="{{ path('discutea_tuto_show_tutorial', {'slug': tutorial.slug}) }}">{{ tutorial.title }}</a></h2>
      {% else %}
          <h2>Aucun contenu</h2>
      {% endfor %}
      <a href="{{ path('discutea_tuto_create_tutorial', {'id': category.id}) }}" class="btn btn-sm btn-success">{{ 'discutea.tuto.tuto.create'|trans }}</a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
