{% extends 'DTutoBundle::layout.html.twig' %}

{% block title %}{{ tutorial.title }}{% endblock %}

{% block body %}
    {% set contribs = tutorial.contributions %}
  <div class="text-center col-xs-12">
    
    {% if contribution.status == 0 %}
      <div class="alert alert-info">{{ 'discutea.tuto.tuto.inprogress'|trans }}</div>  
    {% elseif contribution.status == 1 %}
      <div class="alert alert-warning">{{ 'discutea.tuto.tuto.notapproved'|trans }}</div>
    {% elseif contribution.status == 2 %}
      <div class="alert alert-danger">{{ 'discutea.tuto.tuto.rejected'|trans }}</div>
    {% endif %}
   
    <div class="pull-right">
    {% if contribs|length > 1 %}{% include 'DTutoBundle::switcher.html.twig' %}{% endif %}
      
      {% if is_granted('CanEditContribution', contribution) %}
          <a href="{{ path('discutea_tuto_contrib_edit', {'id': contribution.id}) }}" class="btn btn-xs btn-warning">{{ 'discutea.tuto.btn.edit'|trans }}</a>
      {% endif %}
      <a href="{{ path('discutea_tuto_addcontrib_tutorial', {'id': tutorial.id}) }}" class="btn btn-xs btn-primary">{{ 'discutea.tuto.btn.contribute'|trans }}</a>
      {% if is_granted('ROLE_MODERATOR') and contribution.current == false %}
          <a href="{{ path('discutea_tuto_setactive_contrib', {'tid': tutorial.id, 'cid': contribution.id}) }}" class="btn btn-xs btn-default">{{ 'discutea.tuto.btn.define.current'|trans }}</a>
          <a href="{{ path('discutea_tuto_contrib_remove', {'id': contribution.id}) }}" class="btn btn-xs btn-danger">{{ 'discutea.tuto.btn.delete'|trans }}</a>
      {% endif %}
    </div>
    <div class="clearfix"></div>
 
    <h1>{{ tutorial.title }}</h1>
    <p>{{ contribution.content }}</p>
  </div>
    
{% endblock %}
