{% extends 'DTutoBundle::layout.html.twig' %}

{% block title %}{{ tutorial.title }}{% endblock %}

{% block body %}
    {% set contribs = tutorial.contributions %}
  <div class="text-center col-xs-12">
    
    {% if contribution.status == 0 %}
      <div class="alert alert-info">
        <strong>Attention!</strong> Ce tutoriel est en cours de redaction!
      </div>  
    {% elseif contribution.status == 1 %}
      <div class="alert alert-warning">
        <strong>Attention!</strong> Ce tutoriel n'a pas été encore validé par un administrateur!
      </div>
    {% elseif contribution.status == 2 %}
      <div class="alert alert-danger">
        <strong>Attention!</strong> Ce tutoriel a été refusé!
      </div>
    {% endif %}
   
    <div class="pull-right">
    {% if contribs|length > 1 %}{% include 'DTutoBundle:switcher.html.twig' %}{% endif %}
      
      {% if is_granted('CanEditContribution', contribution) %}
          <a href="{{ path('discutea_tuto_contrib_edit', {'id': contribution.id}) }}" class="btn btn-xs btn-warning">Editer</a>
      {% endif %}
      <a href="{{ path('discutea_tuto_addcontrib_tutorial', {'id': tutorial.id}) }}" class="btn btn-xs btn-primary">Contribuer</a>
      {% if is_granted('ROLE_MODERATOR') and contribution.current == false %}
          <a href="{{ path('discutea_tuto_setactive_contrib', {'tid': tutorial.id, 'cid': contribution.id}) }}" class="btn btn-xs btn-default">Definir comme version courante</a>
          <a href="{{ path('discutea_tuto_contrib_remove', {'id': contribution.id}) }}" class="btn btn-xs btn-danger">Spprimer</a>
      {% endif %}
    </div>
    <div class="clearfix"></div>
 
    <h1>{{ tutorial.title }}</h1>
    <p>
      
      
      {{ contribution.content }}</p>

    <h2>Dump tutorial</h2>
    {{ dump(tutorial) }}
    <h2>Dump current contribution</h2>
    {{ dump(contribution) }}
    <h2>Dump creator of the tutorial</h2>
    {{ dump(contribution.contributor) }}
  </div>
    
{% endblock %}
