{% extends 'DTutoBundle::layout.html.twig' %}

{% block title %}{{ tutorial.title }}{% endblock %}

{% block body %}
  <div class="text-center col-xs-12">
    {% if contribution is defined %}
      <div class="alert alert-danger">
        <strong>Danger!</strong> This contribution is not current version!
      </div>
    {% else %}
    {% set contribution = tutorial.current %}
    {% endif %}
    
    {% if contribution.status == 0 %}
      <div class="alert alert-info">
        <strong>Attention!</strong> Ce tutoriel est en cours de redaction!
      </div>  
    {% elseif contribution.status == 1 %}
      <div class="alert alert-warning">
        <strong>Attention!</strong> Ce tutoriel n'a pas été encore validé par un administrateur!
      </div>
    {% elseif contribution.status == 2 %}
      <div class="alert alert-danger">
        <strong>Attention!</strong> Ce tutoriel a été refusé!
      </div>
    {% endif %}
   
      {% if tutorial.contributions|length > 1 %}
         {{ getTutoContribs(tutorial)|raw }}
      {% endif %}
 
 
    <h1>{{ tutorial.title }}</h1>
    <p>
      {% if is_granted('CanEditContribution', contribution) %}
          <a href="{{ path('discutea_tuto_contrib_edit', {'id': contribution.id}) }}">Editer</a>
          <br />
          <a href="{{ path('discutea_tuto_addcontrib_tutorial', {'id': tutorial.id}) }}">Contribuer</a>
          
          <br /><br />
      {% endif %}
      
      {{ contribution.content }}</p>

    <h2>Dump tutorial</h2>
    {{ dump(tutorial) }}
    <h2>Dump current contribution</h2>
    {{ dump(contribution) }}
    <h2>Dump creator of the tutorial</h2>
    {{ dump(contribution.contributor) }}
  </div>
    
{% endblock %}
