{% extends "DTutoBundle::layout.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Tutorials list</h1>
  <div class="col-xs-12">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#dtprogress" aria-controls="dtprogress" role="tab" data-toggle="tab">In progress</a></li>
    <li role="presentation"><a href="#dtrejected" aria-controls="dtrejected" role="tab" data-toggle="tab">Rejected</a></li>
    <li role="presentation"><a href="#dtsubmitted" aria-controls="dtsubmitted" role="tab" data-toggle="tab">Submitted</a></li>
    <li role="presentation"><a href="#dtvalidate" aria-controls="dtvalidate" role="tab" data-toggle="tab">Validted</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="dtprogress">
        {% for contrib in dtContribsInProgress(5) %}
          <h2><a href="{{ path('discutea_tuto_show_tutorial', {'slug': contrib.tutorial.slug}) }}">{{ contrib.contributor }}</a></h2>
        {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane" id="dtrejected">
        {% for contrib in dtContribsRejected(5) %}
          <h2><a href="{{ path('discutea_tuto_show_tutorial', {'slug': contrib.tutorial.slug}) }}">{{ contrib.contributor }}</a></h2>
        {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane" id="dtsubmitted">
        {% for contrib in dtContribsSubmitted(5) %}
          <h2><a href="{{ path('discutea_tuto_show_tutorial', {'slug': contrib.tutorial.slug}) }}">{{ contrib.contributor }}</a></h2>
        {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane" id="dtvalidate">
        {% for contrib in dtContribsValidate(5) %}
          <h2><a href="{{ path('discutea_tuto_show_tutorial', {'slug': contrib.tutorial.slug}) }}">{{ contrib.contributor }}</a></h2>
        {% endfor %}
      </div>
  </div>
  </div>

<hr />

{% if categories is defined %}        
  <div class="row">
    <h1>{{ 'discutea.tuto.category.list'|trans }}</h1>
    <ul class="list-unstyled">
      <li><a href="{{ path('discutea_tuto_create_category') }}" class="btn btn-sm btn-success"> {{ 'discutea.tuto.category.btnnew'|trans }} </a></li>
      {% for category in categories %}
        <li>
          <h2>{{ category.title }}:</h2>
          <a href="{{ path('discutea_tuto_edit_category', {'id': category.id}) }}" class="btn btn-sm btn-warning">{{ 'discutea.tuto.edit'|trans }}</a>
          <a href="{{ path('discutea_tuto_remove_category', {'id': category.id}) }}" class="btn btn-sm btn-danger">{{ 'discutea.tuto.remove'|trans }}</a>
      
          <a href="{{ path('discutea_tuto_create_tutorial', {'id': category.id}) }}" class="btn btn-sm btn-success">{{ 'discutea.tuto.tuto.create'|trans }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% endblock %}
