{% extends "DTutoBundle::layout.html.twig" %}

{% block title %}{{ 'discutea.tuto.contrib.form.title'|trans }}{% endblock %}


{% block body %}

  <div class="col-md-12">
    <h1>{{ 'discutea.tuto.contrib.form.title'|trans }}</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="form-group">
    {{ form_label(form.content) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '15'}}) }}
    </div>
    
    <div class="form-group">
      <div class="col-xs-6">
        {{ form_label(form.status) }}
        {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-xs-6">
        {{ form_label(form.version) }}
        {{ form_widget(form.version, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    
    {% if form.message is defined %}
    <div class="form-group">
    {{ form_label(form.message) }}
    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">{{ 'discutea.tuto.btn.submit'|trans }}</button>
    
    {{ form_end(form) }}
  </div>

{% endblock %}
