{% extends "DTutoBundle::layout.html.twig" %}

{% block title %}{{ 'discutea.tuto.tuto.form.title'|trans }}{% endblock %}


{% block body %}
  <div class="col-md-12">
    <h1>{{ 'discutea.tuto.tuto.form.title'|trans }}</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    
    <div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
    {{ form_label(form.tmpContrib.content) }}
    {{ form_widget(form.tmpContrib.content, {'attr': {'class': 'form-control', 'rows': '15'}}) }}
    </div>
    
    <div class="form-group">
    {{ form_label(form.tmpContrib.status) }}
    {{ form_widget(form.tmpContrib.status, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
    {{ form_label(form.category) }}
    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>

    {% if (form.tmpContrib.message is defined) %}
        <div class="form-group">
            {{ form_label(form.tmpContrib.message) }}
            {{ form_widget(form.tmpContrib.message, {'attr': {'class': 'form-control'}}) }}
        </div>
    {% endif %}
    
    <button type="submit" class="btn btn-primary">{{ 'discutea.tuto.btn.submit'|trans }}</button>
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
